/* .App {
    text-align: center;
}

.App-header {
    background-color: #0ca4e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Appointment-bg {
    background-color: #223520;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: #c080b0;
} */
